/.vscode
package.json
/RandomEU4Achievement/package.json
/RandomEU4Achievement/node_modules/
/RandomEU4Achievement/index.js
/RandomEU4Achievement/AchievementTable.html
/RandomHOI4Achievement/package.json
/RandomHOI4Achievement/node_modules/
/RandomHOI4Achievement/index.js
/RandomHOI4Achievement/AchievementTable.html