#resultBox {
    border: 1px solid black;
    width: 50%;
    height: 200px;
    margin-top: 10px;
}

#textArea {
    height: 80px;
    width: 250px;
}

label {
    margin-bottom: 5%;
}

button {
    margin-top: 5px;
    margin-bottom: 1%;
}