* {
    position: relative;
}
.references {
    height: 80vh;
    background-color: #3A01DF;
}

.row {
    margin-top: 8.5%;
    height: 50%;
}

.card {
    background-color: rgba(0,0,0,0);
    height: 80%;
    width: 25%;
    margin-top: 3%;
    margin-left: 5%;
    float: left;
    position: relative;
    cursor: pointer;
    z-index: 100;
}

.card img {
    width: 100%;
    height: 75%;
    z-index: 5;
    position: relative;
}

.card video {
    width: 100%;
    height: 70%;
    border-style: none none solid none;
    border-color: white;
    position: relative;
    z-index: 5;
}

.card:hover video {
    position: relative;
    z-index: -1000;
    float: none;
    height: 100vh;   
}

.card p {
    text-align: center;
    margin-top: 2.5%;
    font-weight: bolder;
    font-size: larger;
    z-index: 10;
}

.card:hover {
    opacity: 0.5;
    transition: opacity 200ms ease-out;
}
